:root {
  --color-theme: rgb(13, 255, 0);
  --color-blue: #196cf1;
  --color-white:#fff;
}
body {
  height: 100vh;
  /* background-image: linear-gradient(to bottom, #ffecd2 0%, #fcb69f 100%); */
  background-color: var(--yellow);
  font-family: 'Yuji Syuku', serif;
  color: white;
}

/* font */
.yuji-syuku {
  font-family: 'Yuji Syuku', serif;
}

.middle-font {
  font-size: 0.7rem;
}

.small-font {
  font-size: 0.5rem;
}

/* top page */

.omikuji-img {
  height: 15rem;
}
.box-width{
  width: 500px;
}

/* developers.html */

.uname{
  font-size: 1.25rem;
  color: var(--color-blue);
}
.summary-box{
  width: 200px;
}
h3{
  font-size: 1.75rem;
}
h4{
  font-size: 1.5rem;
  color: var(--color-blue);
}
h5{
  font-size: 1.25rem;
}
.border-dashed{
  border: dashed 2px #6e8efe;
}
.btn{
  background-color: var(--color-blue);
  color: var(--color-white);
}
li a:hover {
  text-decoration: underline;
}
.chevron-color{
  color: var(--color-blue);
}
.box-bg-color{
  background-color: var(--color-white);
}
ul{
  padding-left: 0px;
}

/* outline.html */


/* Effect */
a,a:hover,a:visited {
  text-decoration: none;
}